body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.look{
    color: blue;
}
.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.img-small {
    height: 150px;
}
.content {
    max-width: 800px;
    margin: 0 auto;
    color: grey;
    font-family: georgia;
    padding-left: 20px;
    padding-right: 20px;
}